body {
	background: #35363a;
	color: whitesmoke;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	margin: 7em;
	margin-top: 6em;
}

h2 {
	color: cyan;
}

li {
	list-style-type: none;
	padding: 0;
	margin: .5em;
}

img {
	float: left;
	margin-left: 10%;
	max-width: 30%;
	height: auto;
	border-radius: 2%;
}

a {
	text-decoration: none;
	color: hotpink;
	transition: 250ms ease-in;
}

a:hover {
	box-shadow: 0 -2em 0 0 white inset;
	color: #35363a;
}

.bookmark-container {
	padding: 2em;
}

.bookmarks {
	width: 20%;
	display: inline-block;
	padding: 2em;
}