body {
	background: #000;
	color: #fff;
	font-family: monospace;
	font-size: 150%;
	text-align: center;
	overflow: hidden;
}

li {
	list-style-type: none;
	padding: 12px;
}

img {
	margin: 32px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	background-color: #fff;
	color: #000;
}

.bookmarks {
	width: 25%;
	display: inline-block;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	font-family: serif;
	font-style: italic;
	font-weight: 100;
	animation: fadeIn 1s ease-out;
}